{
    "name": "Paintings",
    "version_number": "{{ version_number }}",
    "website_url": "{{ website_url }}",
    "description": "For a moment, nothing happened. Then, after a second or so, nothing continued to happen.",
    "dependencies": [
        "femboytv-LethalPaintings-1.2.3",
        "femboytv-LethalPosters-1.2.3"
    ]
}